openapi: 3.0.3
info:
  title: 'Dunia Internal API Documentation'
  description: 'This is dunia API documentation, for internal use only'
  version: 1.0.0
servers:
  -
    url: 'http://dunia.healthyishng.com'
paths:
  /api/v1/admin/register:
    post:
      summary: 'Register a new admin.'
      operationId: registerANewAdmin
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99e72421-71c8-4465-8de6-279a0ca28f3d
                    name: 'Dr. Delbert Trantow'
                    email: duane.hane@example.net
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99e72421-71c8-4465-8de6-279a0ca28f3d
                      name:
                        type: string
                        example: 'Dr. Delbert Trantow'
                      email:
                        type: string
                        example: duane.hane@example.net
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Account already exist, kindly login'
                properties:
                  error:
                    type: string
                    example: 'Account already exist, kindly login'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: uj
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: mekhi77@example.org
                password:
                  type: string
                  description: ''
                  example: exercitationem
              required:
                - name
                - email
                - password
      security: []
  /api/v1/admin/login:
    post:
      summary: 'Admin Login.'
      operationId: adminLogin
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"token\": \"generated_token\"\n     \"data\": {\n         \"id\": 1,\n         \"name\": \"User\",\n         \"email\": \"user@email.com\"\n     }\n }"
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'The provided credentials are incorrect.'
                properties:
                  error:
                    type: string
                    example: 'The provided credentials are incorrect.'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: hartmann.roma@example.org
                password:
                  type: string
                  description: ''
                  example: 'Ntar:B!pN'
              required:
                - email
                - password
      security: []
  /api/v1/logout:
    post:
      summary: Logout.
      operationId: logout
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        204:
          description: ''
        402:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Unauthorized user'
                properties:
                  message:
                    type: string
                    example: 'Unauthorized user'
      tags:
        - Authentication
  /api/v1/register:
    post:
      summary: 'Register a new user.'
      operationId: registerANewUser
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99e72421-856c-4d47-b4c5-5d5dcbdb6303
                    name: 'Ms. Estel Graham IV'
                    email: dach.lavinia@example.net
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99e72421-856c-4d47-b4c5-5d5dcbdb6303
                      name:
                        type: string
                        example: 'Ms. Estel Graham IV'
                      email:
                        type: string
                        example: dach.lavinia@example.net
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: wwitszmoeqrqdifloffkvd
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: samir.corkery@example.com
                password:
                  type: string
                  description: ''
                  example: cupiditate
              required:
                - name
                - email
                - password
      security: []
  /api/v1/login:
    post:
      summary: 'User Login.'
      operationId: userLogin
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"token\": \"generated_token\"\n     \"data\": {\n         \"id\": 1,\n         \"name\": \"User\",\n         \"email\": \"user@email.com\"\n     }\n }"
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'The provided credentials are incorrect.'
                properties:
                  error:
                    type: string
                    example: 'The provided credentials are incorrect.'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: vicente.beier@example.net
                password:
                  type: string
                  description: ''
                  example: 'r]6^<nc!&6sm[E_$UTX.'
              required:
                - email
                - password
      security: []
  /api/v1/auth/google:
    get:
      summary: 'Authenticate and log in a user using Google OAuth.'
      operationId: authenticateAndLogInAUserUsingGoogleOAuth
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n    \"token\": \"generated_token\",\n    \"data\": {\n        \"id\": 1,\n        \"name\": \"John Doe\",\n        \"email\": \"johndoe@example.com\",\n    }\n}"
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: Unauthorized.
                properties:
                  error:
                    type: string
                    example: Unauthorized.
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Validation failed.'
                properties:
                  error:
                    type: string
                    example: 'Validation failed.'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: 'The Google OAuth access token.'
                  example: est
              required:
                - token
      security: []
  /api/v1/admin/authors:
    get:
      summary: 'Display a listing of the authors.'
      operationId: displayAListingOfTheAuthors
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 99e72421-3457-412c-b607-0a092175128f
                      name: 'Mariano Powlowski'
                      email: macie.baumbach@example.net
                      description: null
                    -
                      id: 99e72421-4957-4465-8638-cae4705e672b
                      name: 'Adelle Hane'
                      email: bartell.ford@example.com
                      description: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 99e72421-3457-412c-b607-0a092175128f
                        name: 'Mariano Powlowski'
                        email: macie.baumbach@example.net
                        description: null
                      -
                        id: 99e72421-4957-4465-8638-cae4705e672b
                        name: 'Adelle Hane'
                        email: bartell.ford@example.com
                        description: null
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 99e72421-3457-412c-b607-0a092175128f
                        name:
                          type: string
                          example: 'Mariano Powlowski'
                        email:
                          type: string
                          example: macie.baumbach@example.net
                        description:
                          type: string
                          example: null
      tags:
        - 'Author Management'
    post:
      summary: 'Create a new author.'
      operationId: createANewAuthor
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99e72421-4e3b-4cd0-a268-868b7e0f813d
                    name: 'Mr. Monty Schuppe IV'
                    email: acremin@example.com
                    description: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99e72421-4e3b-4cd0-a268-868b7e0f813d
                      name:
                        type: string
                        example: 'Mr. Monty Schuppe IV'
                      email:
                        type: string
                        example: acremin@example.com
                      description:
                        type: string
                        example: null
      tags:
        - 'Author Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Name of author.'
                  example: 'Isaac Johnson'
                email:
                  type: string
                  description: 'Email of author.'
                  example: nwintheiser@example.net
                description:
                  type: string
                  description: ''
                  example: 'Reiciendis vero rerum aut voluptatem.'
              required:
                - name
                - email
  '/api/v1/admin/authors/{id}':
    get:
      summary: 'Display an author by ID.'
      operationId: displayAnAuthorByID
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99e72421-54e7-4896-8886-0f846f86ad97
                    name: 'Hosea Padberg'
                    email: newton.fahey@example.com
                    description: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99e72421-54e7-4896-8886-0f846f86ad97
                      name:
                        type: string
                        example: 'Hosea Padberg'
                      email:
                        type: string
                        example: newton.fahey@example.com
                      description:
                        type: string
                        example: null
      tags:
        - 'Author Management'
    put:
      summary: 'Update the specified Author by ID.'
      operationId: updateTheSpecifiedAuthorByID
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99e72421-5815-40f8-86dc-37fd05914c46
                    name: 'Katrina Labadie'
                    email: reynolds.dolly@example.net
                    description: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99e72421-5815-40f8-86dc-37fd05914c46
                      name:
                        type: string
                        example: 'Katrina Labadie'
                      email:
                        type: string
                        example: reynolds.dolly@example.net
                      description:
                        type: string
                        example: null
      tags:
        - 'Author Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Name of author.'
                  example: 'Isaac Johnson'
                email:
                  type: string
                  description: 'Email of author.'
                  example: yost.nat@example.org
                description:
                  type: string
                  description: ''
                  example: 'Sunt eum perspiciatis et aut.'
              required:
                - name
                - email
    parameters:
      -
        in: path
        name: id
        description: 'Author ID'
        example: sed
        required: true
        schema:
          type: string
  /api/v1/admin/categories:
    get:
      summary: 'Display a listing of categories.'
      operationId: displayAListingOfCategories
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                      name: 'category one'
                    -
                      id: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                      name: 'category one'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                        name: 'category one'
                      -
                        id: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                        name: 'category one'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                        name:
                          type: string
                          example: 'category one'
      tags:
        - 'Categories Management'
    post:
      summary: 'Create a new category.'
      operationId: createANewCategory
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                    name: 'category one'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                      name:
                        type: string
                        example: 'category one'
      tags:
        - 'Categories Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Name of category'
                  example: optio
              required:
                - name
  '/api/v1/admin/categories/{id}':
    get:
      summary: 'Display the specific category by ID.'
      operationId: displayTheSpecificCategoryByID
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                    name: 'category one'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                      name:
                        type: string
                        example: 'category one'
      tags:
        - 'Categories Management'
    put:
      summary: 'Update the specific category.'
      operationId: updateTheSpecificCategory
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                    name: 'category one'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                      name:
                        type: string
                        example: 'category one'
      tags:
        - 'Categories Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Name of category'
                  example: totam
              required:
                - name
    parameters:
      -
        in: path
        name: id
        description: 'Category ID'
        example: illo
        required: true
        schema:
          type: string
  /api/v1/billingAddresses:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    post:
      summary: 'Store a newly created resource in storage.'
      operationId: storeANewlyCreatedResourceInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                country:
                  type: string
                  description: ''
                  example: et
                state:
                  type: string
                  description: ''
                  example: eos
                city:
                  type: string
                  description: ''
                  example: vel
                address:
                  type: string
                  description: ''
                  example: quo
              required:
                - country
                - state
                - city
                - address
      security: []
  '/api/v1/billingAddresses/{id}':
    put:
      summary: 'Update the specified resource in storage.'
      operationId: updateTheSpecifiedResourceInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                country:
                  type: string
                  description: ''
                  example: velit
                state:
                  type: string
                  description: ''
                  example: in
                city:
                  type: string
                  description: ''
                  example: voluptates
                address:
                  type: string
                  description: ''
                  example: sint
              required:
                - country
                - state
                - city
                - address
      security: []
    delete:
      summary: 'Remove the specified resource from storage.'
      operationId: removeTheSpecifiedResourceFromStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the billingAddress.'
        example: 99e5413a-ffc7-4a30-847e-031d4b4ac187
        required: true
        schema:
          type: string
  '/api/v1/verify-email/{id}/{hash}':
    get:
      summary: 'Handle the email verification process for the authenticated user.'
      operationId: handleTheEmailVerificationProcessForTheAuthenticatedUser
      description: "Mark the authenticated user's email address as verified."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Email verified successfully.'
                  redirect_url: 'https://frontend.example.com/home?verified=1'
                properties:
                  message:
                    type: string
                    example: 'Email verified successfully.'
                  redirect_url:
                    type: string
                    example: 'https://frontend.example.com/home?verified=1'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the verify email.'
        example: tempore
        required: true
        schema:
          type: string
      -
        in: path
        name: hash
        description: ''
        example: delectus
        required: true
        schema:
          type: string
  /api/v1/email/verification-notification:
    post:
      summary: 'Send an email verification notification to the user or redirect if email is already verified.'
      operationId: sendAnEmailVerificationNotificationToTheUserOrRedirectIfEmailIsAlreadyVerified
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: verification-link-sent
                properties:
                  status:
                    type: string
                    example: verification-link-sent
        302:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  redirect_url: 'https://frontend.example.com/home'
                properties:
                  redirect_url:
                    type: string
                    example: 'https://frontend.example.com/home'
      tags:
        - Endpoints
      security: []
  /api/v1/forgot-password:
    post:
      summary: "Send a password reset link to the user's email address."
      operationId: sendAPasswordResetLinkToTheUsersEmailAddress
      description: 'Handle an incoming password reset link request.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 'Password reset link sent successfully.'
                properties:
                  status:
                    type: string
                    example: 'Password reset link sent successfully.'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Validation failed.'
                properties:
                  error:
                    type: string
                    example: 'Validation failed.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email address for password reset."
                  example: kellie.hagenes@example.org
              required:
                - email
      security: []
  /api/v1/reset-password:
    post:
      summary: 'Handle a new password request for password reset.'
      operationId: handleANewPasswordRequestForPasswordReset
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 'Password reset successfully.'
                properties:
                  status:
                    type: string
                    example: 'Password reset successfully.'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Validation failed.'
                properties:
                  error:
                    type: string
                    example: 'Validation failed.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: 'The token received for password reset.'
                  example: dolorum
                email:
                  type: string
                  description: "The user's email address."
                  example: mueller.noemy@example.net
                password:
                  type: string
                  description: 'The new password.'
                  example: '/p4%7&aKg`Z_Wn'
                password_confirmation:
                  type: string
                  description: 'The confirmation of the new password.'
                  example: distinctio
              required:
                - token
                - email
                - password
                - password_confirmation
      security: []
  /api/v1/order:
    post:
      summary: 'Store a newly created resource in storage.'
      operationId: storeANewlyCreatedResourceInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Order Management'
      security: []
  /api/v1/admin/products:
    post:
      summary: 'Store a newly created resource in storage.'
      operationId: storeANewlyCreatedResourceInStorage
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    name: 'Sample Product'
                    author_id: 1
                    price: 19.99
                    description: 'A description of the sample product.'
                    categories:
                      -
                        id: 1
                        name: 'Category A'
                      -
                        id: 2
                        name: 'Category B'
                    tags:
                      -
                        id: 1
                        name: 'Tag X'
                      -
                        id: 2
                        name: 'Tag Y'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: 'Sample Product'
                      author_id:
                        type: integer
                        example: 1
                      price:
                        type: number
                        example: 19.99
                      description:
                        type: string
                        example: 'A description of the sample product.'
                      categories:
                        type: array
                        example:
                          -
                            id: 1
                            name: 'Category A'
                          -
                            id: 2
                            name: 'Category B'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'Category A'
                      tags:
                        type: array
                        example:
                          -
                            id: 1
                            name: 'Tag X'
                          -
                            id: 2
                            name: 'Tag Y'
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'Tag X'
      tags:
        - 'Product Management'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the product.'
                  example: blanditiis
                images:
                  type: array
                  description: 'Must be an image. Must not be greater than 2048 kilobytes.'
                  items:
                    type: string
                    format: binary
                price:
                  type: number
                  description: 'The price of the product.'
                  example: 9544.63008
                description:
                  type: string
                  description: 'The description of the product.'
                  example: 'Neque quidem earum ut.'
                categories:
                  type: array
                  description: 'An array of category IDs associated with the product.'
                  example:
                    - et
                  items:
                    type: string
                tags:
                  type: array
                  description: 'An array of tag IDs associated with the product.'
                  example:
                    - porro
                  items:
                    type: string
                author:
                  type: integer
                  description: 'The ID of the author of the product.'
                  example: 12
                product_file:
                  type: string
                  description: ''
                  example: eum
                preview:
                  type: string
                  description: ''
                  example: ipsum
                weight:
                  type: string
                  description: ''
                  example: eos
                'images[]':
                  type: string
                  format: binary
                  description: 'An array of image files for the product.'
              required:
                - name
                - price
                - description
                - categories
                - tags
                - author
                - product_file
                - preview
                - weight
  '/api/v1/admin/products/{id}':
    put:
      summary: 'Update the specified resource in storage.'
      operationId: updateTheSpecifiedResourceInStorage
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    name: null
                    weight: null
                    price: '0.00'
                    description: null
                    author: null
                    categories: []
                    tags: []
                    images: []
                    reviews: []
                    preview: 'http://dunia.healthyishng.com/storage'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      name:
                        type: string
                        example: null
                      weight:
                        type: string
                        example: null
                      price:
                        type: string
                        example: '0.00'
                      description:
                        type: string
                        example: null
                      author:
                        type: string
                        example: null
                      categories:
                        type: array
                        example: []
                      tags:
                        type: array
                        example: []
                      images:
                        type: array
                        example: []
                      reviews:
                        type: array
                        example: []
                      preview:
                        type: string
                        example: 'http://dunia.healthyishng.com/storage'
      tags:
        - 'Product Management'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: ut
                images:
                  type: array
                  description: 'Must be an image. Must not be greater than 2048 kilobytes.'
                  items:
                    type: string
                    format: binary
                price:
                  type: string
                  description: ''
                  example: quos
                description:
                  type: string
                  description: ''
                  example: ad
                categories:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: string
                tags:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: string
                author:
                  type: string
                  description: ''
                  example: fugiat
                product_file:
                  type: string
                  description: ''
                  example: ad
                preview:
                  type: string
                  description: ''
                  example: tempore
                weight:
                  type: string
                  description: ''
                  example: error
              required:
                - name
                - price
                - description
                - author
                - product_file
                - preview
                - weight
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the product.'
        example: 99d35264-8076-49a5-a8d5-8cd88f85a773
        required: true
        schema:
          type: string
  '/api/v1/admin/products/{product_id}/images':
    post:
      summary: 'Add images to a product'
      operationId: addImagesToAProduct
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Product Management'
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                images:
                  type: array
                  description: 'Must be an image. Must not be greater than 2048 kilobytes.'
                  items:
                    type: string
                    format: binary
    parameters:
      -
        in: path
        name: product_id
        description: 'The ID of the product.'
        example: 99d35264-8076-49a5-a8d5-8cd88f85a773
        required: true
        schema:
          type: string
  '/api/v1/admin/products/{product_id}/images/{productImage_id}':
    delete:
      summary: 'Delete image from product'
      operationId: deleteImageFromProduct
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Product Management'
    parameters:
      -
        in: path
        name: product_id
        description: 'The ID of the product.'
        example: 99d35264-8076-49a5-a8d5-8cd88f85a773
        required: true
        schema:
          type: string
      -
        in: path
        name: productImage_id
        description: 'The ID of the productImage.'
        example: 99d35a23-2f11-406d-afde-f05b8efb9968
        required: true
        schema:
          type: string
  /api/v1/products:
    get:
      summary: 'Retrieve a paginated list of products with optional filters.'
      operationId: retrieveAPaginatedListOfProductsWithOptionalFilters
      description: ''
      parameters:
        -
          in: query
          name: name
          description: 'Search for products by name (partial match).'
          example: aspernatur
          required: false
          schema:
            type: string
            description: 'Search for products by name (partial match).'
            example: aspernatur
        -
          in: query
          name: author
          description: "Search for products by author's name."
          example: id
          required: false
          schema:
            type: string
            description: "Search for products by author's name."
            example: id
        -
          in: query
          name: category
          description: 'Search for products by category name.'
          example: recusandae
          required: false
          schema:
            type: string
            description: 'Search for products by category name.'
            example: recusandae
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: 'Product A'
                      author_id: 1
                      price: 19.99
                      description: 'Description of Product A'
                      category:
                        id: 2
                        name: 'Category X'
                      author:
                        id: 1
                        name: 'Author Y'
                    -
                      id: 2
                      name: 'Product B'
                      author_id: 2
                      price: 29.99
                      description: 'Description of Product B'
                      category:
                        id: 3
                        name: 'Category Z'
                      author:
                        id: 2
                        name: 'Author Z'
                  links:
                    first: 'https://api.example.com/products?page=1'
                    last: 'https://api.example.com/products?page=3'
                    prev: null
                    next: 'https://api.example.com/products?page=2'
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 3
                    path: 'https://api.example.com/products'
                    per_page: 10
                    to: 10
                    total: 25
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: 'Product A'
                        author_id: 1
                        price: 19.99
                        description: 'Description of Product A'
                        category:
                          id: 2
                          name: 'Category X'
                        author:
                          id: 1
                          name: 'Author Y'
                      -
                        id: 2
                        name: 'Product B'
                        author_id: 2
                        price: 29.99
                        description: 'Description of Product B'
                        category:
                          id: 3
                          name: 'Category Z'
                        author:
                          id: 2
                          name: 'Author Z'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: 'Product A'
                        author_id:
                          type: integer
                          example: 1
                        price:
                          type: number
                          example: 19.99
                        description:
                          type: string
                          example: 'Description of Product A'
                        category:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                            name:
                              type: string
                              example: 'Category X'
                        author:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'Author Y'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://api.example.com/products?page=1'
                      last:
                        type: string
                        example: 'https://api.example.com/products?page=3'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: 'https://api.example.com/products?page=2'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 3
                      path:
                        type: string
                        example: 'https://api.example.com/products'
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 10
                      total:
                        type: integer
                        example: 25
      tags:
        - 'Product Management'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: atque
                author:
                  type: string
                  description: ''
                  example: et
                category:
                  type: string
                  description: ''
                  example: voluptas
      security: []
  '/api/v1/products/{id}':
    get:
      summary: 'Display a specific product by ID.'
      operationId: displayASpecificProductByID
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    name: null
                    weight: null
                    price: '0.00'
                    description: null
                    author: null
                    categories: []
                    tags: []
                    images: []
                    reviews: []
                    preview: 'http://dunia.healthyishng.com/storage'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      name:
                        type: string
                        example: null
                      weight:
                        type: string
                        example: null
                      price:
                        type: string
                        example: '0.00'
                      description:
                        type: string
                        example: null
                      author:
                        type: string
                        example: null
                      categories:
                        type: array
                        example: []
                      tags:
                        type: array
                        example: []
                      images:
                        type: array
                        example: []
                      reviews:
                        type: array
                        example: []
                      preview:
                        type: string
                        example: 'http://dunia.healthyishng.com/storage'
      tags:
        - 'Product Management'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'Product ID'
        example: nulla
        required: true
        schema:
          type: string
  '/api/v1/products/{product_id}/reviews':
    post:
      summary: 'Create a new review for a product.'
      operationId: createANewReviewForAProduct
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99ddc991-b5ea-4985-9733-ed9a4b459c0e
                    user:
                      id: 99cf69a0-2af8-4baf-bb7a-69fc531e9660
                      name: admin
                      email: admin@gmail.com
                    comment: 'lorem ipsum'
                    rating: '4'
                    createdAt: '2023-08-11T18:28:05.000000Z'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99ddc991-b5ea-4985-9733-ed9a4b459c0e
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 99cf69a0-2af8-4baf-bb7a-69fc531e9660
                          name:
                            type: string
                            example: admin
                          email:
                            type: string
                            example: admin@gmail.com
                      comment:
                        type: string
                        example: 'lorem ipsum'
                      rating:
                        type: string
                        example: '4'
                      createdAt:
                        type: string
                        example: '2023-08-11T18:28:05.000000Z'
      tags:
        - 'Product Review'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: 'The comment for the review.'
                  example: qui
                rating:
                  type: integer
                  description: 'The rating for the review (0-5).'
                  example: 5
              required:
                - comment
                - rating
    parameters:
      -
        in: path
        name: product_id
        description: 'The ID of the product.'
        example: 99d35264-8076-49a5-a8d5-8cd88f85a773
        required: true
        schema:
          type: string
  /api/v1/admin/tags:
    get:
      summary: 'Display a listing of the tags.'
      operationId: displayAListingOfTheTags
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: null
                      name: null
                    -
                      id: null
                      name: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: null
                        name: null
                      -
                        id: null
                        name: null
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: null
                        name:
                          type: string
                          example: null
      tags:
        - 'Tags Management'
      security: []
    post:
      summary: 'Create a new Tag.'
      operationId: createANewTag
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    name: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      name:
                        type: string
                        example: null
      tags:
        - 'Tags Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: wflkz
              required:
                - name
      security: []
  '/api/v1/admin/tags/{id}':
    get:
      summary: 'Display the specific tag by ID.'
      operationId: displayTheSpecificTagByID
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    name: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      name:
                        type: string
                        example: null
      tags:
        - 'Tags Management'
      security: []
    put:
      summary: 'Update a specific tag by ID.'
      operationId: updateASpecificTagByID
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    name: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      name:
                        type: string
                        example: null
      tags:
        - 'Tags Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: pxz
              required:
                - name
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the tag.'
        example: 99cfd9ed-a48a-40d9-b896-4549d534fb7a
        required: true
        schema:
          type: string
  /api/v1/profile:
    get:
      summary: 'Display information about the currently logged-in user.'
      operationId: displayInformationAboutTheCurrentlyLoggedInUser
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n    \"data\": {\n        \"id\": 1,\n        \"name\": \"John Doe\",\n        \"email\": \"johndoe@example.com\",\n    }\n}"
      tags:
        - User
  /api/v1/changePassword:
    post:
      summary: "Change the authenticated user's password."
      operationId: changeTheAuthenticatedUsersPassword
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Password changed successfully'
                properties:
                  message:
                    type: string
                    example: 'Password changed successfully'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Current password is incorrect'
                properties:
                  error:
                    type: string
                    example: 'Current password is incorrect'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Validation failed.'
                properties:
                  error:
                    type: string
                    example: 'Validation failed.'
      tags:
        - User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                  description: "The user's current password."
                  example: optio
                new_password:
                  type: string
                  description: 'The new password.'
                  example: quas
                new_password_confirmation:
                  type: string
                  description: 'The confirmation of the new password.'
                  example: quaerat
              required:
                - current_password
                - new_password
                - new_password_confirmation
tags:
  -
    name: Authentication
    description: "\nEndpoint to manage user authentication"
  -
    name: 'Author Management'
    description: "\nEndpoint to manage authors"
  -
    name: 'Categories Management'
    description: ''
  -
    name: Endpoints
    description: ''
  -
    name: 'Order Management'
    description: "\nEndpoint to manage customers orders"
  -
    name: 'Product Management'
    description: "\nEndpoints to manage products"
  -
    name: 'Product Review'
    description: "\ncustomer review on a product"
  -
    name: 'Tags Management'
    description: "\nEndpoint to manage tags"
  -
    name: User
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: ''
security:
  -
    default: []
