openapi: 3.0.3
info:
  title: 'Dunia Internal API Documentation'
  description: 'This is dunia API documentation, for internal use only'
  version: 1.0.0
servers:
  -
    url: 'http://dunia.healthyishng.com'
paths:
  /api/v1/admin/register:
    post:
      summary: 'Register a new admin.'
      operationId: registerANewAdmin
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99f620a9-cb51-4cd0-a3e2-500cc48c6ad9
                    name: 'Noe Feest'
                    email: ezequiel44@example.org
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99f620a9-cb51-4cd0-a3e2-500cc48c6ad9
                      name:
                        type: string
                        example: 'Noe Feest'
                      email:
                        type: string
                        example: ezequiel44@example.org
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Account already exist, kindly login'
                properties:
                  error:
                    type: string
                    example: 'Account already exist, kindly login'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: fwsxnhfhckzonqqben
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: elsie.murphy@example.org
                password:
                  type: string
                  description: ''
                  example: sit
              required:
                - name
                - email
                - password
      security: []
  /api/v1/admin/login:
    post:
      summary: 'Admin Login.'
      operationId: adminLogin
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"token\": \"generated_token\"\n     \"data\": {\n         \"id\": 1,\n         \"name\": \"User\",\n         \"email\": \"user@email.com\"\n     }\n }"
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'The provided credentials are incorrect.'
                properties:
                  error:
                    type: string
                    example: 'The provided credentials are incorrect.'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: bartell.cecelia@example.org
                password:
                  type: string
                  description: ''
                  example: 'OC:5H8fX0'
              required:
                - email
                - password
      security: []
  /api/v1/logout:
    post:
      summary: Logout.
      operationId: logout
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        204:
          description: ''
        402:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Unauthorized user'
                properties:
                  message:
                    type: string
                    example: 'Unauthorized user'
      tags:
        - Authentication
  /api/v1/register:
    post:
      summary: 'Register a new user.'
      operationId: registerANewUser
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99f620a9-e316-4b1c-9fdb-d1f0810620c6
                    name: 'Miss Juana Connelly'
                    email: hwilkinson@example.com
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99f620a9-e316-4b1c-9fdb-d1f0810620c6
                      name:
                        type: string
                        example: 'Miss Juana Connelly'
                      email:
                        type: string
                        example: hwilkinson@example.com
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: dhsh
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: ines54@example.org
                password:
                  type: string
                  description: ''
                  example: ut
              required:
                - name
                - email
                - password
      security: []
  /api/v1/login:
    post:
      summary: 'User Login.'
      operationId: userLogin
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"token\": \"generated_token\"\n     \"data\": {\n         \"id\": 1,\n         \"name\": \"User\",\n         \"email\": \"user@email.com\"\n     }\n }"
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'The provided credentials are incorrect.'
                properties:
                  error:
                    type: string
                    example: 'The provided credentials are incorrect.'
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: braden01@example.org
                password:
                  type: string
                  description: ''
                  example: 'D&&AEF8**bG'
              required:
                - email
                - password
      security: []
  /api/v1/auth/oauth:
    post:
      summary: 'Handle the registration or login of a user via OAuth (Google or Facebook).'
      operationId: handleTheRegistrationOrLoginOfAUserViaOAuthGoogleOrFacebook
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n    \"token\": \"generated_token\",\n    \"data\": {\n        \"id\": 1,\n        \"name\": \"John Doe\",\n        \"email\": \"johndoe@example.com\",\n    }\n}"
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                oauth:
                  type: string
                  description: 'The OAuth provider (google or facebook).'
                  example: nemo
                oauth_id:
                  type: string
                  description: "The user's OAuth ID."
                  example: et
                name:
                  type: string
                  description: "The user's name.AAAAAAQ"
                  example: velit
                email:
                  type: string
                  description: "The user's email address."
                  example: irma.volkman@example.com
              required:
                - oauth
                - oauth_id
                - name
                - email
      security: []
  /api/v1/admin/authors:
    get:
      summary: 'Display a listing of the authors.'
      operationId: displayAListingOfTheAuthors
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 99f620a9-8f4f-41ff-a2c9-82839af1c3c7
                      name: 'Lydia Ward'
                      email: ajacobs@example.net
                      description: null
                    -
                      id: 99f620a9-9d2f-4926-8cf6-3557ca941b85
                      name: 'Liliane Lubowitz'
                      email: desiree.lockman@example.com
                      description: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 99f620a9-8f4f-41ff-a2c9-82839af1c3c7
                        name: 'Lydia Ward'
                        email: ajacobs@example.net
                        description: null
                      -
                        id: 99f620a9-9d2f-4926-8cf6-3557ca941b85
                        name: 'Liliane Lubowitz'
                        email: desiree.lockman@example.com
                        description: null
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 99f620a9-8f4f-41ff-a2c9-82839af1c3c7
                        name:
                          type: string
                          example: 'Lydia Ward'
                        email:
                          type: string
                          example: ajacobs@example.net
                        description:
                          type: string
                          example: null
      tags:
        - 'Author Management'
    post:
      summary: 'Create a new author.'
      operationId: createANewAuthor
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99f620a9-a67b-4f6f-8622-524c4523f4d9
                    name: 'Grayce Bruen DVM'
                    email: hill.ahmad@example.org
                    description: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99f620a9-a67b-4f6f-8622-524c4523f4d9
                      name:
                        type: string
                        example: 'Grayce Bruen DVM'
                      email:
                        type: string
                        example: hill.ahmad@example.org
                      description:
                        type: string
                        example: null
      tags:
        - 'Author Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Name of author.'
                  example: 'Isaac Johnson'
                email:
                  type: string
                  description: 'Email of author.'
                  example: sstreich@example.com
                description:
                  type: string
                  description: ''
                  example: 'Commodi veniam dolore ut dignissimos in asperiores.'
              required:
                - name
                - email
  '/api/v1/admin/authors/{id}':
    get:
      summary: 'Display an author by ID.'
      operationId: displayAnAuthorByID
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99f620a9-a91d-4356-a513-0f889d0900a4
                    name: 'Aurelio Hodkiewicz MD'
                    email: neil.mccullough@example.org
                    description: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99f620a9-a91d-4356-a513-0f889d0900a4
                      name:
                        type: string
                        example: 'Aurelio Hodkiewicz MD'
                      email:
                        type: string
                        example: neil.mccullough@example.org
                      description:
                        type: string
                        example: null
      tags:
        - 'Author Management'
    put:
      summary: 'Update the specified Author by ID.'
      operationId: updateTheSpecifiedAuthorByID
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99f620a9-ab70-4eaa-a0f5-8fcaab49bd0d
                    name: 'Alyce Harris'
                    email: roy.leannon@example.org
                    description: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99f620a9-ab70-4eaa-a0f5-8fcaab49bd0d
                      name:
                        type: string
                        example: 'Alyce Harris'
                      email:
                        type: string
                        example: roy.leannon@example.org
                      description:
                        type: string
                        example: null
      tags:
        - 'Author Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Name of author.'
                  example: 'Isaac Johnson'
                email:
                  type: string
                  description: 'Email of author.'
                  example: schroeder.cleve@example.com
                description:
                  type: string
                  description: ''
                  example: 'Voluptate dolorem consectetur quod minima animi magni occaecati.'
              required:
                - name
                - email
    parameters:
      -
        in: path
        name: id
        description: 'Author ID'
        example: amet
        required: true
        schema:
          type: string
  /api/v1/admin/categories:
    get:
      summary: 'Display a listing of categories.'
      operationId: displayAListingOfCategories
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                      name: 'category one'
                    -
                      id: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                      name: 'category one'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                        name: 'category one'
                      -
                        id: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                        name: 'category one'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                        name:
                          type: string
                          example: 'category one'
      tags:
        - 'Categories Management'
    post:
      summary: 'Create a new category.'
      operationId: createANewCategory
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                    name: 'category one'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                      name:
                        type: string
                        example: 'category one'
      tags:
        - 'Categories Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Name of category'
                  example: vel
              required:
                - name
  '/api/v1/admin/categories/{id}':
    get:
      summary: 'Display the specific category by ID.'
      operationId: displayTheSpecificCategoryByID
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                    name: 'category one'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                      name:
                        type: string
                        example: 'category one'
      tags:
        - 'Categories Management'
    put:
      summary: 'Update the specific category.'
      operationId: updateTheSpecificCategory
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                    name: 'category one'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99cfdfea-c72f-451b-aed3-ec3eb26bd2c5
                      name:
                        type: string
                        example: 'category one'
      tags:
        - 'Categories Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Name of category'
                  example: ut
              required:
                - name
    parameters:
      -
        in: path
        name: id
        description: 'Category ID'
        example: illo
        required: true
        schema:
          type: string
  /api/v1/billingAddresses:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    post:
      summary: 'Store a newly created resource in storage.'
      operationId: storeANewlyCreatedResourceInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                country:
                  type: string
                  description: ''
                  example: natus
                state:
                  type: string
                  description: ''
                  example: eum
                city:
                  type: string
                  description: ''
                  example: ut
                address:
                  type: string
                  description: ''
                  example: dolore
              required:
                - country
                - state
                - city
                - address
      security: []
  '/api/v1/billingAddresses/{id}':
    put:
      summary: 'Update the specified resource in storage.'
      operationId: updateTheSpecifiedResourceInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                country:
                  type: string
                  description: ''
                  example: earum
                state:
                  type: string
                  description: ''
                  example: et
                city:
                  type: string
                  description: ''
                  example: minus
                address:
                  type: string
                  description: ''
                  example: fuga
              required:
                - country
                - state
                - city
                - address
      security: []
    delete:
      summary: 'Remove the specified resource from storage.'
      operationId: removeTheSpecifiedResourceFromStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the billingAddress.'
        example: 99e5413a-ffc7-4a30-847e-031d4b4ac187
        required: true
        schema:
          type: string
  '/api/v1/verify-email/{id}/{hash}':
    get:
      summary: 'Handle the email verification process for the authenticated user.'
      operationId: handleTheEmailVerificationProcessForTheAuthenticatedUser
      description: "Mark the authenticated user's email address as verified."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Email verified successfully.'
                  redirect_url: 'https://frontend.example.com/home?verified=1'
                properties:
                  message:
                    type: string
                    example: 'Email verified successfully.'
                  redirect_url:
                    type: string
                    example: 'https://frontend.example.com/home?verified=1'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the verify email.'
        example: dolorum
        required: true
        schema:
          type: string
      -
        in: path
        name: hash
        description: ''
        example: voluptatem
        required: true
        schema:
          type: string
  /api/v1/email/verification-notification:
    post:
      summary: 'Send an email verification notification to the user or redirect if email is already verified.'
      operationId: sendAnEmailVerificationNotificationToTheUserOrRedirectIfEmailIsAlreadyVerified
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: verification-link-sent
                properties:
                  status:
                    type: string
                    example: verification-link-sent
        302:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  redirect_url: 'https://frontend.example.com/home'
                properties:
                  redirect_url:
                    type: string
                    example: 'https://frontend.example.com/home'
      tags:
        - Endpoints
      security: []
  /api/v1/forgot-password:
    post:
      summary: "Send a password reset link to the user's email address."
      operationId: sendAPasswordResetLinkToTheUsersEmailAddress
      description: 'Handle an incoming password reset link request.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 'Password reset link sent successfully.'
                properties:
                  status:
                    type: string
                    example: 'Password reset link sent successfully.'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Validation failed.'
                properties:
                  error:
                    type: string
                    example: 'Validation failed.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email address for password reset."
                  example: jefferey.kihn@example.org
              required:
                - email
      security: []
  /api/v1/reset-password:
    post:
      summary: 'Handle a new password request for password reset.'
      operationId: handleANewPasswordRequestForPasswordReset
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 'Password reset successfully.'
                properties:
                  status:
                    type: string
                    example: 'Password reset successfully.'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Validation failed.'
                properties:
                  error:
                    type: string
                    example: 'Validation failed.'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: 'The token received for password reset.'
                  example: et
                email:
                  type: string
                  description: "The user's email address."
                  example: ckuhlman@example.com
                password:
                  type: string
                  description: 'The new password.'
                  example: '*zYeS*sG&o7M'
                password_confirmation:
                  type: string
                  description: 'The confirmation of the new password.'
                  example: illo
              required:
                - token
                - email
                - password
                - password_confirmation
      security: []
  /api/v1/order:
    post:
      summary: 'Store a newly created order in storage.'
      operationId: storeANewlyCreatedOrderInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Order Management'
      security: []
  /api/v1/checkout:
    post:
      summary: 'Process the checkout for placing an order.'
      operationId: processTheCheckoutForPlacingAnOrder
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  url: 'https://checkout.stripe.com/session/...'
                  message: 'Checkout initiated successfully'
                properties:
                  url:
                    type: string
                    example: 'https://checkout.stripe.com/session/...'
                  message:
                    type: string
                    example: 'Checkout initiated successfully'
      tags:
        - 'Order Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                success_url:
                  type: string
                  description: 'The URL to redirect to on successful payment.'
                  example: 'https://www.block.com/perferendis-voluptas-aperiam-optio-qui-dicta-incidunt-dolore'
                cancel_url:
                  type: string
                  description: 'The URL to redirect to on payment cancellation.'
                  example: 'http://ondricka.com/illo-facilis-porro-ut-voluptatibus-iure'
                cart:
                  type: array
                  description: 'The array of products in the cart.'
                  example:
                    - fugit
                  items:
                    type: string
                shipping:
                  type: object
                  description: ''
                  example: null
                  properties:
                    price:
                      type: number
                      description: 'The shipping price if shipping is involved.'
                      example: 261241956.07321
                    billing_address_id:
                      type: string
                      description: 'shipping address_id if shipping is involved.'
                      example: et
              required:
                - success_url
                - cancel_url
                - cart
  /api/v1/admin/products:
    post:
      summary: 'Store a new product with related information and files.'
      operationId: storeANewProductWithRelatedInformationAndFiles
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n    \"data\": {\n        \"id\": 1,\n        \"name\": \"Product A\",\n        \"author_id\": 2,\n        \"price\": 19.99,\n        \"description\": \"Description of Product A\",\n        \"weight\": 0.5,\n        \"print_price\": 5.99,\n        \"preview\": \"book_previews/product_a_preview.jpg\",\n        \"product_file\": \"books/product_a_file.pdf\",\n        \"categories\": [...],\n        \"tags\": [...],\n        \"images\": [...]\n    }\n}"
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Error occurred. Try again'
                properties:
                  error:
                    type: string
                    example: 'Error occurred. Try again'
      tags:
        - 'Product Management'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the product.'
                  example: quibusdam
                images:
                  type: array
                  description: 'Must be an image. Must not be greater than 2048 kilobytes.'
                  items:
                    type: string
                    format: binary
                price:
                  type: number
                  description: 'The price of the product.'
                  example: 509.0
                print_price:
                  type: number
                  description: 'The printing price of the product.'
                  example: 141.0
                description:
                  type: string
                  description: 'The description of the product.'
                  example: 'Quaerat consequatur eum animi iure voluptas.'
                categories:
                  type: array
                  description: 'The array of category IDs associated with the product.'
                  example:
                    - sunt
                  items:
                    type: string
                tags:
                  type: array
                  description: 'The array of tag IDs associated with the product.'
                  example:
                    - repellendus
                  items:
                    type: string
                author:
                  type: integer
                  description: "The ID of the product's author."
                  example: 12
                product_file:
                  type: string
                  format: binary
                  description: 'The main product file.'
                preview:
                  type: string
                  format: binary
                  description: 'The preview file of the product.'
                weight:
                  type: number
                  description: 'The weight of the product.'
                  example: 4781.41958043
                'images[]':
                  type: string
                  format: binary
                  description: 'An array of additional images for the product (if applicable).'
              required:
                - name
                - price
                - print_price
                - description
                - categories
                - tags
                - author
                - weight
      security: []
  '/api/v1/admin/products/{id}':
    put:
      summary: 'Update the specified resource in storage.'
      operationId: updateTheSpecifiedResourceInStorage
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    name: null
                    weight: null
                    price: '0.00'
                    printPrice: '0.00'
                    description: null
                    author: null
                    categories: []
                    tags: []
                    images: []
                    reviews: []
                    preview: 'http://dunia.healthyishng.com/storage'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      name:
                        type: string
                        example: null
                      weight:
                        type: string
                        example: null
                      price:
                        type: string
                        example: '0.00'
                      printPrice:
                        type: string
                        example: '0.00'
                      description:
                        type: string
                        example: null
                      author:
                        type: string
                        example: null
                      categories:
                        type: array
                        example: []
                      tags:
                        type: array
                        example: []
                      images:
                        type: array
                        example: []
                      reviews:
                        type: array
                        example: []
                      preview:
                        type: string
                        example: 'http://dunia.healthyishng.com/storage'
      tags:
        - 'Product Management'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: ut
                images:
                  type: array
                  description: 'Must be an image. Must not be greater than 2048 kilobytes.'
                  items:
                    type: string
                    format: binary
                price:
                  type: string
                  description: ''
                  example: aut
                print_price:
                  type: number
                  description: ''
                  example: 20288098.544616
                description:
                  type: string
                  description: ''
                  example: sed
                categories:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: string
                tags:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: string
                author:
                  type: string
                  description: ''
                  example: sed
                product_file:
                  type: string
                  format: binary
                  description: 'Must be a file.'
                preview:
                  type: string
                  format: binary
                  description: 'Must be a file.'
                weight:
                  type: number
                  description: ''
                  example: 128949.9
              required:
                - name
                - price
                - print_price
                - description
                - author
                - product_file
                - preview
                - weight
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the product.'
        example: 99d35264-8076-49a5-a8d5-8cd88f85a773
        required: true
        schema:
          type: string
  '/api/v1/admin/products/{product_id}/images':
    post:
      summary: 'Add images to a product'
      operationId: addImagesToAProduct
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Product Management'
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                images:
                  type: array
                  description: 'Must be an image. Must not be greater than 2048 kilobytes.'
                  items:
                    type: string
                    format: binary
    parameters:
      -
        in: path
        name: product_id
        description: 'The ID of the product.'
        example: 99d35264-8076-49a5-a8d5-8cd88f85a773
        required: true
        schema:
          type: string
  '/api/v1/admin/products/{product_id}/images/{productImage_id}':
    delete:
      summary: 'Delete image from product'
      operationId: deleteImageFromProduct
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses: {  }
      tags:
        - 'Product Management'
    parameters:
      -
        in: path
        name: product_id
        description: 'The ID of the product.'
        example: 99d35264-8076-49a5-a8d5-8cd88f85a773
        required: true
        schema:
          type: string
      -
        in: path
        name: productImage_id
        description: 'The ID of the productImage.'
        example: 99d35a23-2f11-406d-afde-f05b8efb9968
        required: true
        schema:
          type: string
  /api/v1/products:
    get:
      summary: 'Retrieve a paginated list of products with optional filters.'
      operationId: retrieveAPaginatedListOfProductsWithOptionalFilters
      description: ''
      parameters:
        -
          in: query
          name: name
          description: 'Search for products by name (partial match).'
          example: sit
          required: false
          schema:
            type: string
            description: 'Search for products by name (partial match).'
            example: sit
        -
          in: query
          name: author
          description: "Search for products by author's name."
          example: et
          required: false
          schema:
            type: string
            description: "Search for products by author's name."
            example: et
        -
          in: query
          name: category
          description: 'Search for products by category name.'
          example: perspiciatis
          required: false
          schema:
            type: string
            description: 'Search for products by category name.'
            example: perspiciatis
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: 'Product A'
                      author_id: 1
                      price: 19.99
                      description: 'Description of Product A'
                      category:
                        id: 2
                        name: 'Category X'
                      author:
                        id: 1
                        name: 'Author Y'
                    -
                      id: 2
                      name: 'Product B'
                      author_id: 2
                      price: 29.99
                      description: 'Description of Product B'
                      category:
                        id: 3
                        name: 'Category Z'
                      author:
                        id: 2
                        name: 'Author Z'
                  links:
                    first: 'https://api.example.com/products?page=1'
                    last: 'https://api.example.com/products?page=3'
                    prev: null
                    next: 'https://api.example.com/products?page=2'
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 3
                    path: 'https://api.example.com/products'
                    per_page: 10
                    to: 10
                    total: 25
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: 'Product A'
                        author_id: 1
                        price: 19.99
                        description: 'Description of Product A'
                        category:
                          id: 2
                          name: 'Category X'
                        author:
                          id: 1
                          name: 'Author Y'
                      -
                        id: 2
                        name: 'Product B'
                        author_id: 2
                        price: 29.99
                        description: 'Description of Product B'
                        category:
                          id: 3
                          name: 'Category Z'
                        author:
                          id: 2
                          name: 'Author Z'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: 'Product A'
                        author_id:
                          type: integer
                          example: 1
                        price:
                          type: number
                          example: 19.99
                        description:
                          type: string
                          example: 'Description of Product A'
                        category:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                            name:
                              type: string
                              example: 'Category X'
                        author:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'Author Y'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://api.example.com/products?page=1'
                      last:
                        type: string
                        example: 'https://api.example.com/products?page=3'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: 'https://api.example.com/products?page=2'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 3
                      path:
                        type: string
                        example: 'https://api.example.com/products'
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 10
                      total:
                        type: integer
                        example: 25
      tags:
        - 'Product Management'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: ut
                author:
                  type: string
                  description: ''
                  example: dolor
                category:
                  type: string
                  description: ''
                  example: voluptates
      security: []
  '/api/v1/products/{id}':
    get:
      summary: 'Display a specific product by ID.'
      operationId: displayASpecificProductByID
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    name: null
                    weight: null
                    price: '0.00'
                    printPrice: '0.00'
                    description: null
                    author: null
                    categories: []
                    tags: []
                    images: []
                    reviews: []
                    preview: 'http://dunia.healthyishng.com/storage'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      name:
                        type: string
                        example: null
                      weight:
                        type: string
                        example: null
                      price:
                        type: string
                        example: '0.00'
                      printPrice:
                        type: string
                        example: '0.00'
                      description:
                        type: string
                        example: null
                      author:
                        type: string
                        example: null
                      categories:
                        type: array
                        example: []
                      tags:
                        type: array
                        example: []
                      images:
                        type: array
                        example: []
                      reviews:
                        type: array
                        example: []
                      preview:
                        type: string
                        example: 'http://dunia.healthyishng.com/storage'
      tags:
        - 'Product Management'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'Product ID'
        example: neque
        required: true
        schema:
          type: string
  '/api/v1/products/{product_id}/reviews':
    post:
      summary: 'Create a new review for a product.'
      operationId: createANewReviewForAProduct
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 99ddc991-b5ea-4985-9733-ed9a4b459c0e
                    user:
                      id: 99cf69a0-2af8-4baf-bb7a-69fc531e9660
                      name: admin
                      email: admin@gmail.com
                    comment: 'lorem ipsum'
                    rating: '4'
                    createdAt: '2023-08-11T18:28:05.000000Z'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 99ddc991-b5ea-4985-9733-ed9a4b459c0e
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 99cf69a0-2af8-4baf-bb7a-69fc531e9660
                          name:
                            type: string
                            example: admin
                          email:
                            type: string
                            example: admin@gmail.com
                      comment:
                        type: string
                        example: 'lorem ipsum'
                      rating:
                        type: string
                        example: '4'
                      createdAt:
                        type: string
                        example: '2023-08-11T18:28:05.000000Z'
      tags:
        - 'Product Review'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: 'The comment for the review.'
                  example: rem
                rating:
                  type: integer
                  description: 'The rating for the review (0-5).'
                  example: 8
              required:
                - comment
                - rating
    parameters:
      -
        in: path
        name: product_id
        description: 'The ID of the product.'
        example: 99d35264-8076-49a5-a8d5-8cd88f85a773
        required: true
        schema:
          type: string
  /api/v1/admin/tags:
    get:
      summary: 'Display a listing of the tags.'
      operationId: displayAListingOfTheTags
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: null
                      name: null
                    -
                      id: null
                      name: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: null
                        name: null
                      -
                        id: null
                        name: null
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: null
                        name:
                          type: string
                          example: null
      tags:
        - 'Tags Management'
      security: []
    post:
      summary: 'Create a new Tag.'
      operationId: createANewTag
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    name: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      name:
                        type: string
                        example: null
      tags:
        - 'Tags Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: kvkrardfgsllngahvoeaickep
              required:
                - name
      security: []
  '/api/v1/admin/tags/{id}':
    get:
      summary: 'Display the specific tag by ID.'
      operationId: displayTheSpecificTagByID
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    name: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      name:
                        type: string
                        example: null
      tags:
        - 'Tags Management'
      security: []
    put:
      summary: 'Update a specific tag by ID.'
      operationId: updateASpecificTagByID
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: null
                    name: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: null
                      name:
                        type: string
                        example: null
      tags:
        - 'Tags Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: tx
              required:
                - name
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the tag.'
        example: 99cfd9ed-a48a-40d9-b896-4549d534fb7a
        required: true
        schema:
          type: string
  /api/v1/profile:
    get:
      summary: 'Display information about the currently logged-in user.'
      operationId: displayInformationAboutTheCurrentlyLoggedInUser
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n    \"data\": {\n        \"id\": 1,\n        \"name\": \"John Doe\",\n        \"email\": \"johndoe@example.com\",\n    }\n}"
      tags:
        - User
  /api/v1/changePassword:
    post:
      summary: "Change the authenticated user's password."
      operationId: changeTheAuthenticatedUsersPassword
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {ACCESS_TOKEN}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Password changed successfully'
                properties:
                  message:
                    type: string
                    example: 'Password changed successfully'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Current password is incorrect'
                properties:
                  error:
                    type: string
                    example: 'Current password is incorrect'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Validation failed.'
                properties:
                  error:
                    type: string
                    example: 'Validation failed.'
      tags:
        - User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                  description: "The user's current password."
                  example: atque
                new_password:
                  type: string
                  description: 'The new password.'
                  example: ipsam
                new_password_confirmation:
                  type: string
                  description: 'The confirmation of the new password.'
                  example: sapiente
              required:
                - current_password
                - new_password
                - new_password_confirmation
tags:
  -
    name: Authentication
    description: "\nEndpoint to manage user authentication"
  -
    name: 'Author Management'
    description: "\nEndpoint to manage authors"
  -
    name: 'Categories Management'
    description: ''
  -
    name: Endpoints
    description: ''
  -
    name: 'Order Management'
    description: "\nEndpoint to manage customers orders"
  -
    name: 'Product Management'
    description: "\nEndpoints to manage products"
  -
    name: 'Product Review'
    description: "\ncustomer review on a product"
  -
    name: 'Tags Management'
    description: "\nEndpoint to manage tags"
  -
    name: User
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: ''
security:
  -
    default: []
